@charset "UTF-8";
/* CSS Document */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
	font-family: 'Lato', Verdana, Geneva, sans-serif; 
	overflow:hidden;
	font-size: 0.9em;
	color: #fff;
}

body {
	background: url('images/bodyBack.png') repeat;
}

h1 { font-size: 1.1em; color: #fff; padding: 0 0 .8em; margin: 0; font-weight: 300; }
h1 em {
	font-weight: 700;
	font-style: normal;	
	font-size: 1.2em;
	margin-right: .5em;
}
canvas { 
	padding: 0; 
	margin: 0 0 0 180px; 
	
	-moz-box-shadow:   0 0 80px #000000;
   	-webkit-box-shadow: 0 0 80px #000000;
   	box-shadow:         0 0 80px #000000;
}
p#canvasError {
	margin: 10em 160px 0 260px;
	font-size: 2em;	
}
p {
	padding: 0; margin: 0 0 .5em;	
}
.clearfix { clear: both; }
span.clearfix { display: block; height: 0; line-height: 0; }
#elements { display: none; }



/****************************************************************************************************************************************************

	   																TOOLBAR

/****************************************************************************************************************************************************/

#colorToolbar {
	float: left;
	background-color: white;
	width: 180px;
	border: none;
	overflow: hidden;
	margin: 0;
	background: url('images/brushed.png') repeat;
	position: absolute;
	height: 100%;
	-moz-box-shadow:   0 0 40px #000000;
   	-webkit-box-shadow: 0 0 40px #000000;
   	box-shadow:         0 0 40px #000000;
}
#colorToolbar hr { margin: 1em 0; }
#colorToolbar > div {
	padding: 1em;
	margin: 1em;
	/*border: 1px solid #666;*/
}
#colorToolbar > div > div {
	cursor:pointer;
}
#mainLogo { width: 110%; height: auto; margin-bottom: 2em; position: relative; left: -5%;}

/************* BACKGROUNDS *************/

.colorpick > div {
	float: left;
	width: 26px;
	height: 26px;
	overflow: hidden;
	margin-right: 8px;
	margin-bottom: 8px;
	border-radius: 4px;
	-webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
	
	
	-moz-box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
	-webkit-box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
	box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}
.colorpick > div.on, .colorpick > div:hover {
	-moz-box-shadow:
	-3px -3px 3px rgba(0,0,0,0.5), 
	2px 2px 1px rgba(255,255,255,1),
	inset 0 -1px 3px rgba(190,255,255,0.5), 
	inset 0 3px 3px rgba(0,0,0,0.2); 
	-webkit-box-shadow:
	0px -3px 3px rgba(0,0,0,0.5), 
	1px 1px 1px rgba(255,255,255,1),
	inset 0 -1px 3px rgba(190,255,255,0.5), 
	inset 0 3px 3px rgba(0,0,0,0.2); 
	box-shadow:
	0px -3px 3px rgba(0,0,0,0.5), 
	1px 1px 1px rgba(255,255,255,1),
	inset 0 -1px 3px rgba(190,255,255,0.5), 
	inset 0 3px 3px rgba(0,0,0,0.2); 
}
.colorpick > div:active {
	opacity: .7;
}
.colorpick > div:nth-child(4n)  {
	
	margin-right: 0;
}
.colorpick img {
	width: 100%;
	height: auto;	
}
#flavors > div {
	border-radius: 15px;	
}
/************* END BACKGROUNDS *************/

/************* COLORS AND STAMPS *************/
#red { background: rgb(210,32,47);  }
#pink { background:pink; }
#fuchsia { background:fuchsia; }
#yellow {background:#f0e8ae;}
#lime {background:lime; }
#green {background:#00b0aa;}
#blue { background:blue; }
#purple { background:purple; }
#colors #black { background:black;  }
#colors #white {background:white;  }
#colors > div {
/*	border: 1px solid white;	
	margin: 4px;
	float:left;
	width:50px; 
	height:25px; */
}
/*
#stamps > div, #stamps > div:nth-child(4n) {
	width: 37px;
	height: 37px;
	margin-right: 8px;
	margin-bottom: 8px;
	background-color: white;
}

#stamps > div:nth-child(3n)  {
	
	margin-right: 0;
}*/
#draw { margin-top: .6em; }
#stamps {
	max-height: 130px;
	overflow: hidden;
	clear: both;
	margin-bottom: 10px;
}
#stampContainer {
	position: relative;
	top: 0;	
	-webkit-transition: top 200ms ease-in;
    -moz-transition: top 200ms ease-in;
    -o-transition: top 200ms ease-in;
    transition: top 200ms ease-in;
	
	
}
#stampContainer div {
	background-color: white;
}
#stampContainer div.on {
	background-color: #f8eb8c;		
}

/************* END COLORS AND STAMPS *************/


/************* BUTTONS *************/
#buttons > div, .stampBtn {
	width:100%; padding:.5em 0; float:left; text-align: center; background-color:#444; color: white; border-radius: .5em; font-size: 1em;
	font-weight: 700;
	margin-top: 10px;
	
	-webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
	-moz-box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
	-webkit-box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
	box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}


#buttons > div:hover, .stampBtn:hover {
	-moz-box-shadow:
	0px -1px 1px rgba(0,0,0,0.5),
	1px 1px 1px rgba(255,255,255,1), 
	inset 0 -1px 3px rgba(190,255,255,0.5), 
	inset 0 3px 3px rgba(0,0,0,0.2); 
	-webkit-box-shadow:
	0px -1px 1px rgba(0,0,0,0.5),
	1px 1px 1px rgba(255,255,255,1), 
	inset 0 -1px 3px rgba(190,255,255,0.5), 
	inset 0 3px 3px rgba(0,0,0,0.2); 
	box-shadow:
	0px -1px 1px rgba(0,0,0,0.5),
	1px 1px 1px rgba(255,255,255,1), 
	inset 0 -1px 3px rgba(190,255,255,0.5), 
	inset 0 3px 3px rgba(0,0,0,0.2); 
}
#buttons > div:active, .stampBtn:active {
	opacity: .7;
}


.stampBtn {
	margin-top: 0; margin-bottom: 10px;	
}

.stampBtn.off {
	opacity: .5;	
}

/************* END BUTTONS *************/
/************* MEDIA QUERIES *************/

@media only screen and (min-height:946px) { 
	#stamps {
		max-height: 230px;
	}
}
@media only screen and (min-height:1080px) { 
	#stamps {
		max-height: 366px;
	}
}
@media only screen and (min-height:1220px) { 
	#stamps {
		max-height: 504px
	}
}
@media only screen and (max-height:845px) { 
	#stamps {
		max-height: 94px;
	}
}
@media only screen and (max-height:808px) { 
	#buttons > div {
		width: 40%; 
		margin-left: 5%;
		margin-right: 5%;	
	}
}
@media only screen and (max-height:770px) {
 	#colorToolbar > div {
		padding: 0;	
	}
	
	hr { display: none; }
	#colorToolbar h1 { margin-top: 1em; font-size: .9em; }
	#colorToolbar p { display: none; }
 	.colorpick > div {
		width: 32px;
	}
	.colorpick > div img {
		margin-top: -10%;	
		display: inline-block;
	}
	#buttons > div {
		width: 100%; 
		margin-left: 0;
		margin-right: 0;	
	}
	
	#mainLogo { margin-bottom: 0; }
}
@media only screen and (max-height:670px) {
	.colorpick > div img {
		margin-top: -16%;	
		display: inline-block;
	}
	#stamps {
		max-height: 98px;
	}

	.colorpick > div {
		float: left;
		height: 20px;
		margin-bottom: 6px;
	}
	#buttons > div { 
		margin-top: 0;
		width: 40%; 
		margin-left: 5%;
		margin-right: 5%;	
	}
	#colors { display: none; }
}
@media only screen and (max-height:530px) {
	#mainLogo { display: none; }
	#colorToolbar h1 { margin-top: .5em; font-size: .7em; }
	
	#stamps {
		max-height: 72px;
	}
}
@media only screen and (max-height:400px) {
	#stamps {
		max-height: 47px;
	}
	#flavors > div:nth-child(n+5) { display: none; }
}

@media only screen and (max-height:330px) {
	#stamps {
		max-height: 18px;
	}
	.colorpick > div {
		float: left;
		height: 16px;
		margin-bottom: 6px;
	}
	#stamps > div:nth-child(n+9) { display: none; }
	#buttons > div, .stampBtn { font-size: .8em; }
}
@media only screen and (max-height:270px) {
	
	#colorToolbar h1 { display: none; }
	#flavors, #stampsUp  { margin-top: 6px;  }
	
}
/************* END MEDIA QUERIES *************/

/****************************************************************************************************************************************************

	   																END TOOLBAR

/****************************************************************************************************************************************************/



